{% extends 'base.html.twig' %}

{% block title %}Zmiana języka urzędowego{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-sm-6 offset-sm-3">
            <h1 class="h3 mb-3 font-weight-normal">Zmiana języka urzędowego</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
