{% extends 'base.html.twig' %}

{% block title %}Lista języków urzędowych{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Akcje</th>
                </tr>
                </thead>
                <tbody>
                {% for language in languages %}
                    <tr>
                        <td>{{ language.name }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('language_edit', {language: language.id}) }}">Zmień</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
