<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    Witam,

    dla aktywacji konta kliknij w link <a href="{{ url('user_confirmed', {token: token}) }}">Aktywuj konto</a>
</div>
</body>
</html>
